<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> <!-- Meta tag reforçada -->
    <title>Solicitação de Compra</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'>
    <style>
        body {
            background-image: url('static/images/fundo.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start; /* Alterado para melhor acomodação */
            margin: 0;
            padding: 20px;
            overflow-y: auto;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 10px; /* Reduzido para telas pequenas */
        }

        /* Aumentar área de toque em dispositivos móveis */
        .input, .textarea, .select select {
            font-size: 16px !important; /* Evita zoom em iOS */
            height: 2.75em !important;
            width: 100% !important;
        }

        .select { width: 100%; } /* Forçar largura total */

        .box {
            margin: 10px;
            width: 100%; /* Ocupa toda a largura do container */
        }

        /* Ajustes específicos para mobile */
        @media screen and (max-width: 768px) {
            body {
                align-items: center;
                padding: 10px;
            }

            .box {
                margin: 0;
                box-shadow: none;
                border-radius: 0;
            }

            .title.is-4 {
                font-size: 1.75rem !important;
                text-align: center;
                margin-bottom: 1.5rem !important;
            }

            .button.is-primary {
                font-size: 1rem;
                height: 3em;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1 class="title is-4">Solicitação de compra.</h1>
            <form id="solicitacaoForm" onsubmit="abrirModal(event)">
                <!-- Remova todas as divs columns/column extras -->
                <div class="field">
                    <label class="label">Cargo:</label>
                    <div class="control">
                        <div class="select is-fullwidth"> <!-- Classe adicionada -->
                            <select name="cargo" required>
                                <option value="Gerente">Gerente</option>
                                <option value="Gerente Regional">Gerente Regional</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nome do solicitante:</label>
                    <div class="control">
                        <input class="input is-fullwidth" type="text" name="nome_solicitante" required> <!-- Classe adicionada -->
                </div>
                <!-- Atualização do campo "Unidade": de input para select com a lista de unidades -->
                <div class="field">
                    <label class="label">Selecione a unidade:</label>
                    <div class="control">
                        <div class="select">
                            <select name="unidade" required>
                                <option value="">Selecione</option>
                                <option value="1">GUILHERMINA - 1</option>
                                <option value="4">DIADEMA - 4</option>
                                <option value="5">SHOPPING MAUÁ - 5</option>
                                <option value="6">RIBEIRÃO PIRES - 6</option>
                                <option value="7">HOMERO THON - 7</option>
                                <option value="8">AV. PORTUGAL - 8</option>
                                <option value="9">VALO VELHO - 9</option>
                                <option value="10">ITAMARATI - 10</option>
                                <option value="11">AV. RIO BRANCO - 11</option>
                                <option value="12">PEREIRA BARRETO - 12</option>
                                <option value="13">GIOVANNI BREDA - 13</option>
                                <option value="14">BOQUEIRÃO - 14</option>
                                <option value="15">PARQUE DO CARMO - 15</option>
                                <option value="16">ZAIRA - 16</option>
                                <option value="17">HELIOPOLIS - 17</option>
                                <option value="19">PIMENTAS - 19</option>
                                <option value="20">GUAIANASES - 20</option>
                                <option value="21">AV. GOIÁS - 21</option>
                                <option value="22">BOM CLIMA - 22</option>
                                <option value="23">CAMPO GRANDE - 23</option>
                                <option value="24">JAGUARÉ - 24</option>
                                <option value="25">ITAQUERA - 25</option>
                                <option value="26">EXTREMA - 26</option>
                                <option value="27">MOGI DAS CRUZES - 27</option>
                                <option value="28">ALAMEDA - 28</option>
                                <option value="29">JARDIM GOIAS - 29</option>
                                <option value="30">PASSEIO DAS AGUAS - 30</option>
                                <option value="31">SÃO VICENTE - 31</option>
                                <option value="32">CAMILÓPOLIS - 32</option>
                                <option value="33">INDAIATUBA - 33</option>
                                <option value="34">VILA PRUDENTE - 34</option>
                                <option value="35">LARANJAL PAULISTA - 35</option>
                                <option value="36">SACOMÃ - 36</option>
                                <option value="37">VILA NOVA - 37</option>
                                <option value="38">SAPOPEMBA - 38</option>
                                <option value="39">POÁ - 39</option>
                                <option value="40">CURITIBA - 40</option>
                                <option value="41">FRANCA - 41</option>
                                <option value="130">JARDIM SÃO PAULO - 130</option>
                                <option value="131">CARAPICUIBA - 131</option>
                                <option value="042">ITAQUERA 2 - 042</option>								
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Produto:</label>
                    <div class="control">
                        <div class="select">
                            <select name="categoria_produto" id="categoria_produto" required>
                                <option value="">Selecione uma categoria</option>
                                <option value="Notebook/Desktop">Notebook/Desktop</option>
                                <option value="Monitor">Monitor</option>
                                <option value="Antena">Antena</option>
                                <option value="Perifericos">Periféricos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field" id="perifericos_field" style="display:none;">
                    <label class="label">Selecione o Periférico</label>
                    <div class="control">
                        <div class="select">
                            <select name="produto" id="produto_periferico">
                                <option value="Mouse">Mouse</option>
                                <option value="Teclado">Teclado</option>
                                <option value="Suporte de Notebook">Suporte de Notebook</option>
                                <option value="Webcam Logitech C920">Webcam Logitech C920</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Motivo:</label>
                    <div class="control">
                        <textarea class="textarea" name="motivo" placeholder="Descreva o motivo da solicitação" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail:</label>
                    <div class="control">
                        <input class="input" type="email" name="email" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Telefone:</label>
                    <div class="control">
                        <input class="input" type="tel" name="telefone" pattern="\d{2}\d{9}" placeholder="Ex: 11987654321" required>
                    </div>
                </div>
                  <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-fullwidth is-medium-mobile"> <!-- Classe responsiva -->
                            Enviar solicitação
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h2 class="title is-4">Solicitação Enviada com Sucesso!</h2>
                <p>Sua solicitação foi registrada com o código: <span id="codigoSolicitacao"></span></p>
                <p>Protocolo gerado: <span id="protocoloSolicitacao"></span></p>
                <p class="is-size-7">
                  Um email com estas informações foi enviado para o endereço cadastrado.
                </p>
                <button class="button is-primary mt-4" onclick="fecharModal()">Fechar</button>
            </div>
        </div>
    </div>

    <script>
        // Exibe o campo de produto para periféricos, se necessário
        document.getElementById('categoria_produto').addEventListener('change', function() {
            var perifericos_field = document.getElementById('perifericos_field');
            perifericos_field.style.display = (this.value === 'Perifericos') ? 'block' : 'none';
        });

        function abrirModal(event) {
            event.preventDefault();

            const formData = new FormData(document.getElementById('solicitacaoForm'));

            fetch('/solicitacao-compra', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success') {
                    document.getElementById('codigoSolicitacao').innerText = data.codigo_solicitacao;
                    document.getElementById('protocoloSolicitacao').innerText = data.protocolo;

                    setTimeout(function() {
                        document.getElementById('modal').classList.add('is-active');
                    }, 3000);
                } else {
                    alert('Erro ao enviar solicitação. Tente novamente.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao enviar solicitação. Tente novamente.');
            });
        }

        function fecharModal() {
            document.getElementById('modal').classList.remove('is-active');
            document.getElementById('solicitacaoForm').reset();
            window.location.href = "/";
        }

        document.addEventListener('DOMContentLoaded', () => {
            const modalBackground = document.querySelector('.modal-background');
            if(modalBackground) {
                modalBackground.addEventListener('click', fecharModal);
            }
        });
    </script>
</body>
</html>
